
@{
    ViewData["Title"] = "VerifyEmail";
}


<div class="container">
 <div style="margin-top:200px ; margin-bottom:200px;" class="alert alert-success" role="alert">
  Please checkyour email for register confirmation !
</div>
</div>



